.articles-inline {
  display: inline-block;
  /* width: 100%; */
  /* margin:0; */
}
.page__Articles {
    padding-inline-start: 0px;
    ;
}
.page__Title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 72px;
  padding: 5px;
  padding-top: 2vw;
  padding-bottom: 1.5vw;
  text-align: center;
}
.page__loadedStatement {
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    text-transform: uppercase;
    padding: 7px;
    text-align: center;
}
.page__Slider {
    opacity: 0.1;
    transition: 0.3s ease-in;
    padding-left: 50px;
    padding-right: 50px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-width: thick;
    padding-bottom: 50px;
    text-align:center
}

.page__Slider:hover {
    opacity:1;    
}

.page__Searchbar {
  cursor: text;
  box-sizing: border-box;
  opacity: 0.8;
  width: 100%;
  background: white;
  border-radius: 22px;
  max-width: 70vw;
  
}
.page__Searchbar__Container {
  margin: auto;
  min-width: 410px;
  width: 100vw;
  text-align: -webkit-center;
}
input {
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  text-indent: 0px;
  display: inline-block;
  -webkit-appearance: textfield;
  border-width: 0px;
  border-style: inset;
  outline: none;
  width: 50vw;
  transition: 0.3s ease-in; 
}
input:hover {
  animation: textShiftLeft 0.5s forwards;
  animation-delay: 0.1s;
}

.background {
  background: beige;
  cursor: pointer;
}


