.news {
  border-radius: 12px;
  border-style: groove;
  display: block;
  /* background: yellowgreen; */
  padding: 0.1em;
  height: 420px;
  width: 300px;
  position: absolute;
  align-items: stretch;
  overflow: hidden;
}

.headline_top {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding-top: 10px;
}
.headline_bot {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding-bottom: 10px;
  font-size: 1em;
}

.news:hover {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.news__title {
  font-size: 18px;
  font-family: fantasy;
  color: black;
  margin-left: inherit;
  margin-right: inherit;
  margin: 2px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}
.news__sourceDate {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: darkslategrey;
  margin-left: inherit;
  margin-right: inherit;
  margin: 2px;
}
.news__description {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  margin: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px
}
.news__img {
  width: 250px;
  max-height: inherit;
  border-width: 10px;
}
